<div class="news">
  <h5>Football Transfer News</h5>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top" src="assets/1.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Juventus Signer De Ligt</h4>
        <p class="card-text">De Ligt joined to Juventus for 80 millions euro.</p>
        <hr>
        <a href="#" class="btn btn-primary">More Info</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top" src="assets/1.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Eden Hazard in Real Madrid</h4>
        <p class="card-text">Real Madrid signed Eden Hazard for 100 millions euro.</p>
        <hr>
        <a href="#" class="btn btn-primary">More Info</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top" src="assets/1.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Griezman joined to Barca</h4>
        <p class="card-text">Barcelona paid to Athletico Madrid 120 millions euro.</p>
        <hr>
        <a href="#" class="btn btn-primary">More Info</a>
      </div>
    </div>
  </div>
</div>
