.jumbotron{
  overflow: auto;
  background-color: white;
  padding-top: 40px;
  padding-bottom: 20px;

}
.jcontent{
  margin-left: 790px;
  padding-top: 15px;
  margin-right: 130px;
}

.ing{
  float: left;
  width: 740px;
  height: 250px;
  border-radius: 5px;
}
